/***** Fuentes *****/
@font-face {
    font-family: "poppins";
    src: url("../fonts/poppins.otf");
}
@font-face {
    font-family: "poppins-extrabold";
    src: url("../fonts/poppins-extrabold.otf");
}
@font-face {
    font-family: "poppins-semibold";
    src: url('../fonts/poppins-semibold.otf');
}
body {
    background-color: black;
    color: white;
    font-family: "poppins";
    font-size: calc(22 * 100vw / 1440);
    margin: 0;
    padding: 0;
}
.btn-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "poppins-semibold";
    font-size: 48px;
    color: white;
    text-transform: uppercase;
    background: linear-gradient( rgba(255,218,1,1) 0%, rgba(226,139,2,1) 100%);
    padding: 0px 30px;
    border-radius: 100px;
    line-height: 1.4;
    box-shadow: 2px 2px 0px 2px #0000006e;
}

.btn-banner .destello {
    position: absolute;
    top: -164%;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
}

.btn-banner:hover .destello {
    opacity: 1;
}

/* btn banner RESPONSIVE */
/* 720px */
@media screen and (max-width: 720px) {

    .btn-banner {
        font-size: 28px;
    }

    .btn-banner .destello {
        position: absolute;
        top: -196%;
        width: 100%;
        opacity: 0;
        transition: 0.3s;
    }

}

.btn-effect-1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient( rgba(255,218,1,1) 0%, rgba(226,139,2,1) 100%);
    font-family: "poppins-semibold";
    font-size: 17px;
    color: white;
    width: 160px;
    height: 40px;
    padding: 0px 5px;
    border-radius: 100px;
    cursor: pointer;
}

.btn-effect-1 .destello {
    position: absolute;
    top: -210%;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
}

.btn-effect-1:hover .destello {
    opacity: 1;
}

.btn-effect-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "poppins-semibold";
    font-size: 1.9em;
    color: white;
    text-transform: capitalize;
    background: linear-gradient( rgba(255,218,1,1) 0%, rgba(226,139,2,1) 100%);
    padding: 5px 15px;
    border-radius: 100px;
    line-height: 1.4;
    box-shadow: 1px 1px 0px 1px #0000006e;
    cursor: pointer;
}

@media screen and (min-width: 720px) {

    .btn-effect-2 {
        font-size: 1em;
    }

}

*{
    /* border: 1px solid red; */
}

.btn-effect-2 .destello {
    position: absolute;
    top: -180%;
    width: 100%;
    opacity: 0;
    transition: 0.3s;
}

.btn-effect-2:hover .destello {
    opacity: 1;
}

.btn-regular {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins-semibold";
    color: #12021C;
    text-transform: capitalize;
    background: linear-gradient( rgba(255,218,1,1) 0%, rgba(226,139,2,1) 100%);
    padding: 5px 15px;
    border-radius: 8px;
    line-height: 1.4;
    box-shadow: 1px 1px 0px 1px #0000006e;
    cursor: pointer;
    transition: 0.6s;
}

.btn-regular:hover {
    color: white;
    transform: scale(1.1);
}

/* Variaciones Botones */
.contenedor-3 .btn-effect-2 .destello {top: -158%;}
.contenedor-5 .btn-effect-2 .destello {top: -188%;}
