header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.logo-main{
    height: 75px;
}

/* Logo RESPONSIVE */
@media screen and (max-width: 900px) {

    .logo-main {
        height: 50px;
    }

}

.right-menu{
    display: flex;
    align-items: center;
}

/* right-menu RESPONSIVE */
@media screen and (max-width: 900px) {
    .right-menu {
        display: none;
    }

}

.menu-bar {
    display: flex;
    align-items: center;
    background-color: black;
    height: 100px;
    flex-direction: row;
    justify-content: center;
}
.contenedor {
    display: flex;
    width: 1150px;
    align-items: center;
    justify-content: space-between;
}

/* contenedor RESPONSIVE */
@media screen and (max-width: 1150px) {
    .contenedor {
        width: 100%;
        padding: 0px 20px;
    }

}

.menu {
    list-style: none;
    padding: 0px;
}


.menu li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.6s;
}

.menu li a:hover {
    color: #FFD401;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.contenedor .btn-effect-1 {
    margin-left: 30px;

}

.star-menu-btn {
    height: 17px;
}

/* Iconos usuario y tienda */
.user-icon-menu, .shop-icon-menu {
    width: 27px;
    height: 27px;
    margin-left: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.6s;
}

.user-icon-menu {
    background-image:url(../images/user-icon.webp)
}
.user-icon-menu:hover {
    background-image: url(../images/user-icon-hover.webp);
}
.shop-icon-menu {
    background-image: url(../images/shop-icon.webp);
}
.shop-icon-menu:hover{
    background-image: url(../images/shop-icon-hover.webp);
}

/* menu mobile */
.menu-mobile-icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/movil-menu.webp);
    width: 30px;
    height: 35px;
    transition: 0.3s;
    cursor: pointer;
}

.menu-mobile-icon:active {
    background-image: url(../images/movil-menu-active.webp);

}

/* Menu mobile RESPONSIVE */
@media screen and (min-width: 901px) {

    .menu-mobile-icon {
        display: none;
    }

}